@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(59, 59, 59, 0.082);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(146, 146, 146, 0.701);
  border-radius: 20px;
  /* border: 3px solid rgb(255, 255, 255); */
}

.Cscrollbar::-webkit-scrollbar {
  width: 1px !important;
  height: 0.5px;
}

.Cscrollbar::-webkit-scrollbar-track {
  background: rgba(59, 59, 59, 0) !important;
}

.Cscrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.701) !important;
  border-radius: 20px !important;
}